<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.ServiceProviderSection, LNF"/>
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login"/>
      <dataAccess showSql="true"/>
      <email host="localhost" log="true"/>
      <control host="http://wagosvr:7778/"/>
      <log name="sselIndReports.Tests" enabled="true"/>
    </provider>
  </lnf>

  <appSettings>
    <add key="ApiBaseUrl" value="xxxxx"/>
    <add key="BasicAuthUsername" value="xxxxx"/>
    <add key="BasicAuthPassword" value="xxxxx"/>
  </appSettings>

  <connectionStrings>
    <add name="cnSselData" providerName="System.Data.SqlClient" connectionString="xxxxx" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>
