<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="providers" type="LNF.ProvidersSection, LNF" />
      <section name="redis" type="LNF.Impl.Redis.RedisConfigurationSection, LNF.Impl" />
    </sectionGroup>
  </configSections>

  <lnf>
    <providers production="false">
      <context type="LNF.Impl.WebContextProvider, LNF.Impl" loginUrl="/login" />
      <dataAccess type="LNF.Impl.NHibernateWebDataAccess, LNF.Impl" />
      <serialization type="LNF.Impl.Serialization.SerializationProvider, LNF.Impl" />
      <physicalAccess type="LNF.Impl.PhysicalAccess.ProwatchPhysicalAccess, LNF.Impl" />
      <encryption type="LNF.Impl.EncryptionProvider, LNF.Impl" />
      <email type="LNF.Impl.Email.EmailProvider, LNF.Impl" host="127.0.0.1" />
      <log type="LNF.Impl.Logging.ServiceLogProvider, LNF.Impl" name="sselIndReports" enabled="true" />
      <modelFactory type="LNF.Impl.ModelFactory.ValueInjecterModelFactory, LNF.Impl" />
    </providers>
    <redis>
      <connection host="cachesvr" databaseId="5" />
    </redis>
  </lnf>

  <appSettings>
    <add key="DisclaimerText" value="Please note: The data for {PreviousMonth} usage has not yet been finalized." />
    <add key="Debug" value="false" />
    <add key="ShowMenu" value="false" />
    <add key="MongoConnectionString" value="mongodb://*****:*****@localhost/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="owin:appStartup" value="sselIndReports.Startup, sselIndReports" />
  </appSettings>

  <connectionStrings>
    <add name="cnSselData" providerName="System.Data.SqlClient" connectionString="Server=*****;Database=*****;User ID=*****;Password=*****" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />

    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="lnf" assembly="LNF.Web" namespace="LNF.Web.Controls" />
      </controls>
    </pages>

    <authentication mode="Forms">
      <forms name="sselAuth.cookie" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" domain="umich.edu" cookieless="UseCookies" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <machineKey compatibilityMode="Framework20SP2" validationKey="*****" decryptionKey="*****" validation="SHA1" decryption="3DES" />

    <customErrors mode="Off" />
  </system.web>
</configuration>
