<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.ServiceProviderSection, LNF" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login" />
      <dataAccess showSql="true" />
      <email host="127.0.0.1" log="true" />
      <control host="xxxxx" />
      <log name="sselIndReports" enabled="true" />
    </provider>
  </lnf>

  <appSettings>
    <add key="DisclaimerText" value="Please note: The data for {PreviousMonth} usage has not yet been finalized." />
    <add key="Debug" value="false" />
    <add key="ShowMenu" value="false" />
    <add key="MongoConnectionString" value="xxxxx" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="owin:appStartup" value="sselIndReports.Startup, sselIndReports" />
  </appSettings>

  <connectionStrings>
    <add name="cnSselData" providerName="System.Data.SqlClient" connectionString="xxxxx" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />

    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="lnf" assembly="LNF.Web" namespace="LNF.Web.Controls" />
      </controls>
    </pages>

    <authentication mode="Forms">
      <forms name="sselAuth.cookie" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" domain="umich.edu" cookieless="UseCookies" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <machineKey compatibilityMode="Framework20SP2" validationKey="xxxxx" decryptionKey="xxxxx" validation="SHA1" decryption="3DES" />

    <customErrors mode="Off" />
  </system.web>
</configuration>
